@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #95f3d884;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px 15px 0 15px;
}

.momo::after {
    content: "*";
    color: red;
    font-size: 20px;
    float: left;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

.main .form-container {
    align-items: center;
    padding: 3rem;
}

label #btn,
label #cancel {
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
}

section {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

input[type=text],
input[type=password] {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #F5F5F5;
}

.btn-warning {
    position: relative;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    color: #eff5f5;
    background-color: rgb(11, 12, 12);
    border: 1;
    /* overflow: scroll; */
}

.btn-warning input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 3;
    top: 15;
    transform: scale(2);
    opacity: 0;
}

hr {
    border: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

.registerbutton {
    background-color: #29a329;
    color: white;
    padding: 15px 20px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: bold;
}

.register {
    text-align: center;
}

.form-container {
    margin-top: 1rem;
}